p, h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  color: #27aedb;
  text-align: center;
}

body {
  background: rgb(209,209,217);
}

.app__container {
  display: flex;
  justify-content: space-around;

  max-width: 1170px;
  padding: 40px;
  margin: 0 auto;
}
